<!--
=========================================================
* Material Dashboard 2 - v3.0.4
=========================================================

* Product Page: https://www.creative-tim.com/product/material-dashboard
* Copyright 2022 Creative Tim (https://www.creative-tim.com)
* Licensed under MIT (https://www.creative-tim.com/license)
* Coded by Creative Tim

=========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-->


<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- header -->
<th:block th:replace="layout/header :: headerFragment"></th:block>


<body class="g-sidenav-show  bg-gray-100">

<!-- side bar -->
<th:block th:replace="layout/aside :: asideFragment"></th:block>


<main class="main-content border-radius-lg ">


    <!-- Navbar -->
    <th:block th:replace="layout/navbar :: navbarFragment"></th:block>


    <div class="container">
        <div class="row">
            <div class="col-12">

                <div class="card my-4">
                    <div class="card-header pb-0">
                        <div class="row">
                            <div class="col-lg-9 col-7">
                                <h3 style="font-family: 'Jua', sans-serif;; font-size: 3.5rem; font-weight: lighter;color: #5A2082">학생 정보</h3>

                            </div>
                            <div class="col-lg-3 col-5 my-auto text-end">
                                <form class="form-inline w-100 justify-content-center " action="/academy/students/list"
                                      method="get">
                                    <div class="row mb-4">
                                        <div class="col-8 align-self-center">
                                            <div class="input-group input-group-outline">

                                                <input type="text" class="form-control" name="studentName"
                                                       placeholder="학생 이름">
                                            </div>
                                        </div>
                                        <div class="col-4  align-self-center">
                                            <button type="submit"
                                                    class="btn btn-sm bg-gradient-primary btn-lg mb-0">검색
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div>
                        <hr style="color: #5A2082; height: 1.5px;background-color: #5A2082">
                    </div>

                    <div class="card-body px-0 pb-2 ">
                        <div class="table-responsive p-0 mb-4">
                            <table class="table align-items-center mb-0">
                                <thead>
                                <tr>
                                    <th class="text-center text-uppercase  font-weight-bolder" style="color: #5A2082">
                                        학생 이름
                                    </th>
                                    <th class="text-center text-uppercase  font-weight-bolder " style="color: #5A2082">
                                        학생 생년월일
                                    </th>
                                    <th class="text-center text-uppercase font-weight-bolder " style="color: #5A2082">
                                        학생 학교
                                    </th>
                                    <th class="text-center text-uppercase  font-weight-bolder" style="color: #5A2082">
                                        학생 전화번호
                                    </th>
                                    <th class="text-center text-uppercase font-weight-bolder" style="color: #5A2082">
                                        부모 전화번호
                                    </th>
                                    <th class="text-center text-uppercase font-weight-bolder" style="color: #5A2082">
                                        학생 이메일
                                    </th>
                                    <th class="text-center text-uppercase font-weight-bolder"  style="color: #5A2082">
                                        학생 주소
                                    </th>
                                    <th class="text-secondary opacity-7"></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="student : ${students}">
                                    <th class="align-middle text-center">
                                                <span class=" text-xs font-weight-bold"
                                                      th:text="${student.name}"></span>
                                    </th>
                                    <td class="align-middle text-center">
                                                <span class=" text-xs font-weight-bold"
                                                      th:text="${student.birth}"></span>
                                    </td>
                                    <td class="align-middle text-center">
                                                <span class=" text-xs font-weight-bold"
                                                      th:text="${student.school}"></span>
                                    </td>
                                    <td class="align-middle text-center">
                                                <span class=" text-xs font-weight-bold"
                                                      th:text="${student.phoneNum}"></span>
                                    </td>
                                    <td class="align-middle text-center">
                                                <span class=" text-xs font-weight-bold"
                                                      th:text="${student.parentPhoneNum}"></span>
                                    </td>
                                    <td class="align-middle text-center">
                                                <span class=" text-xs font-weight-bold"
                                                      th:text="${student.email}"></span>
                                    </td>
                                    <td class="align-middle text-center">
                                                <span class=" text-xs font-weight-bold"
                                                      th:text="${student.address}"></span>
                                    </td>
                                    <td class="align-middle">
                                        <form action="/academy/student/info" method="get">
                                            <input type="text" class="form-control" name="studentId"
                                                   th:value="${student.id}" hidden>
                                        <button class="btn btn-icon btn-2 btn-primary mt-3" type="submit">
                                                    상세 조회</span>
                                        </button>
                                        </form>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                        <ul class="pagination justify-content-center">

                            <li class="page-item"><a class="page-link"
                                                     th:href="@{/academy/students/list(page=${previous})}">◀</a></li>
                            <li class="page-item"><a class="page-link"
                                                     th:href="@{/academy/students/list(page=${next})}">▶</a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!--footer-->
    <th:block th:replace="layout/footer :: footerFragment"></th:block>
</main>
<!--   Core JS Files   -->
<script src="/assets/js/core/popper.min.js"></script>
<script src="/assets/js/core/bootstrap.min.js"></script>
<script src="/assets/js/plugins/perfect-scrollbar.min.js"></script>
<script src="/assets/js/plugins/smooth-scrollbar.min.js"></script>
<script src="/assets/js/material-dashboard.min.js?v=3.0.4"></script>
<link id="pagestyle" href="/assets/css/material-dashboard.css?v=3.0.4" rel="stylesheet"/>



</body>

</html>