<!--
=========================================================
* Material Dashboard 2 - v3.0.4
=========================================================

* Product Page: https://www.creative-tim.com/product/material-dashboard
* Copyright 2022 Creative Tim (https://www.creative-tim.com)
* Licensed under MIT (https://www.creative-tim.com/license)
* Coded by Creative Tim

=========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-->


<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- header -->
<th:block th:replace="layout/header :: headerFragment"></th:block>


<body class="g-sidenav-show  bg-gray-100">

<!-- side bar -->
<th:block th:replace="layout/aside :: asideFragment"></th:block>


<main class="main-content border-radius-lg ">


    <!-- Navbar -->
    <th:block th:replace="layout/navbar :: navbarFragment"></th:block>


    <div class="container">
        <div class="row">

            <div class="col-12">


                <div class="card my-4">
                    <div class="card-header pb-0 mx-4">
                        <div class=" d-flex justify-content-start mb-3" style="flex: 0 0 auto;">
                            <h6 th:text="|【${announcement.type}】|" style="color:#5A2082;"></h6>
                        </div>

                        <div class="row">
                            <div class="input-group  mb-4">
                                <input type="text" class="form-control" placeholder="제목을 입력하세요." id="input-title"
                                       style="font-size: 2rem" readonly th:value="${announcement.title}" th:rows="10">
                            </div>
                        </div>
                        <div class="row">
                            <div class="d-flex mb-3" style="overflow: hidden">
                                <div style="float: left">
                                    <th:block th:if="${image=='null'}">
                                        <img src="https://raw.githubusercontent.com/buinq/imageServer/main/img/image-20230204013043779.png"
                                             class="avatar avatar-sm me-3 border-radius-sm">
                                    </th:block>
                                    <th:block th:if="${image != 'null'}">
                                        <img th:src="${image}"
                                             class="avatar avatar-sm me-3 border-radius-sm">
                                    </th:block>
                                </div>
                                <div style="float: left">
                                    <div style="margin-left: 5px">
                                        <h5 class="mb-0 text-sm" th:text="|${announcement.author}|"></h5>
                                        <p class="text-xs text-secondary mb-0"
                                           th:text="|${announcement.createdAt}|"></p>
                                    </div>
                                    <div style="margin-left: 5px">
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div>
                            <hr style="color: gray; height: 1.5px;background-color: gray">
                        </div>
                    </div>


                    <div class="card-body  mx-5" style="padding-top: 1px">
                        <div class="d-flex justify-content-end my-2">
                            <form action="/academy/announcements/edit" method="get">
                                <input type="text" class="form-control" id="announcementNum" name="announcementNum"
                                    th:value="${announcement.id}" hidden>

                            <button
                                    type="submit"
                                    class="btn btn-sm bg-gradient-info">게시글 수정
                            </button>
                            </form>
                            <button th:onclick="|announcement.delete(${academyId},${announcement.id})|"
                                    type="button"
                                    class="btn btn-sm bg-gradient-danger mx-2">게시글 삭제
                            </button>
                        </div>
                        <div style="border: 1px solid #E0E0E0;border-width: 1px; border-radius: 5px;">
                            <div class="mx-5">
                                <p
                                        spellcheck="false"
                                        th:utext="${announcement.body}" readonly></p>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="d-flex justify-content-center mb-3">
                        <form action="/academy/announcements" method="get">
                            <button type="submit"
                                    class="btn btn-lg bg-gradient-primary btn-lg mb-0">목록으로
                            </button>
                        </form>
                    </div>
                </div>

            </div>

        </div>
    </div>
    <!--footer-->
    <th:block th:replace="layout/footer :: footerFragment"></th:block>
</main>
<!--   Core JS Files   -->
<script src="/assets/js/core/popper.min.js"></script>
<script src="/assets/js/core/bootstrap.min.js"></script>
<script src="/assets/js/plugins/perfect-scrollbar.min.js"></script>
<script src="/assets/js/plugins/smooth-scrollbar.min.js"></script>
<script src="/assets/js/material-dashboard.min.js?v=3.0.4"></script>
<link id="pagestyle" href="/assets/css/material-dashboard.css?v=3.0.4" rel="stylesheet"/>
<!-- TOAST UI Editor CDN URL(JS) -->
<script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>

<Script>


    let announcement = {
        init: function () {
            var _this = this;
        },

        delete: function (academyId, announcementId) {
            console.log(academyId);
            console.log(announcementId);

            const con_check = confirm("삭제하시겠습니까?");

            if (con_check === true) {
                axios.delete("/api/v1/academies/" + academyId + "/announcements/" + announcementId,
                    {
                        headers: {
                            'Content-Type': 'application/json',
                        }
                    }
                ).then((response) => {
                    alert("게시글 삭제 성공");
                    window.location.href = '/academy/main';
                }).catch((error) => {
                });
            }
        }
    };

    academy.init();

</script>
</body>

</html>