<!--
=========================================================
* Material Dashboard 2 - v3.0.4
=========================================================

* Product Page: https://www.creative-tim.com/product/material-dashboard
* Copyright 2022 Creative Tim (https://www.creative-tim.com)
* Licensed under MIT (https://www.creative-tim.com/license)
* Coded by Creative Tim

=========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-->


<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- header -->
<th:block th:replace="layout/header :: headerFragment"></th:block>


<body class="g-sidenav-show  bg-gray-100">

<!-- side bar -->
<th:block th:replace="layout/aside :: asideFragment"></th:block>


<main class="main-content border-radius-lg ">


    <!-- Navbar -->
    <th:block th:replace="layout/navbar :: navbarFragment"></th:block>


    <div class="container">
        <div class="row">
            <div class="col-12">

                <div class="card my-4">
                    <div class="card-header pb-0 mx-4">
                        <div class=" d-flex justify-content-start mb-3" style="flex: 0 0 auto;width: 10%;">
                            <div class="col-3 input-group input-group-static text-xs font-weight-bold  text-center">
                                <select class="form-control text-lg font-weight-bold  text-center"
                                        style="border-color: #5A2082" id="input-type">
                                    <option value="0">카테고리 선택</option>
                                    <th:block th:if="${announcement.type =='공지사항'}">
                                        <option value="ANNOUNCEMENT" selected>공지사항</option>
                                        <option value="ADMISSION">입시정보</option>
                                    </th:block>
                                    <th:block th:if="${announcement.type =='입시정보'}">
                                        <option value="ANNOUNCEMENT">공지사항</option>
                                        <option value="ADMISSION" selected>입시정보</option>
                                    </th:block>
                                </select>
                            </div>
                        </div>

                        <div class="row">
                            <div class="input-group input-group-dynamic mb-4">
                                <input type="text" class="form-control" placeholder="제목을 입력하세요." id="input-title"
                                       th:value="${announcement.title}"
                                       style="font-size: 2rem">
                            </div>
                        </div>
                    </div>


                    <div class="card-body px-0 pb-2 mx-5">
                        <div id="editor"></div>
                    </div>
                    <br>
                    <div class="d-flex justify-content-center mb-3">
                        <a th:href="@{/academy/announcements/detail(announcementNum=${announcement.id})}">
                            <button type="submit"
                                    class="btn btn-lg bg-gradient-danger btn-lg mb-0">수정 취소
                            </button>
                        </a>
                        <button type="submit" th:onclick="|announcement.edit(${academyId},${announcement.id})|"
                                class="btn btn-lg bg-gradient-primary btn-lg mb-0 mx-2">게시글 수정
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--footer-->
    <th:block th:replace="layout/footer :: footerFragment"></th:block>
</main>
<!--   Core JS Files   -->
<script src="/assets/js/core/popper.min.js"></script>
<script src="/assets/js/core/bootstrap.min.js"></script>
<script src="/assets/js/plugins/perfect-scrollbar.min.js"></script>
<script src="/assets/js/plugins/smooth-scrollbar.min.js"></script>
<script src="/assets/js/material-dashboard.min.js?v=3.0.4"></script>
<link id="pagestyle" href="/assets/css/material-dashboard.css?v=3.0.4" rel="stylesheet"/>
<!-- TOAST UI Editor CDN URL(JS) -->
<script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>

<Script th:inline="javascript">
    /*<![CDATA[*/
    const editor = new toastui.Editor({
        el: document.querySelector('#editor'),
        previewStyle: 'vertical',
        height: '800px',
        initialEditType: 'wysiwyg',

    });
    var testValue = /*[[${announcement.body}]]*/;
    console.log(testValue);
    editor.setHTML(testValue);
    /*]]>*/
</script>

<Script>

    let announcement = {
        init: function () {
            var _this = this;
        },
        edit: function (academyId,announcementId) {
            let data = {
                title: document.querySelector('#input-title').value.trim(),
                // body: editor.getMarkdown(),
                body: editor.getHTML(),
                type: document.querySelector('#input-type').value.trim()
            };

            if (data.type == 0) {
                alert("카테고리 선택은 필수입니다.")
                return;
            }
            console.log(data);

            axios.put("/api/v1/academies/" + academyId + "/announcements/"+announcementId,
                JSON.stringify(data), {
                    headers: {
                        'Content-Type': 'application/json',
                    }
                }
            ).then((response) => {
                console.log(response);
                alert("수정 성공");
                window.location.href = '/academy/announcements/detail?announcementNum='+announcementId;

            }).catch((error) => {
                console.log(error);
                if (error.response.data.result["errorCode"] == "DUPLICATED_ACADEMY") {
                    alert("학원 이름은 중복될 수 없습니다.");
                    // window.location.href = '/academies';
                }


            });

        }
    };

    announcement.init();

</script>
</body>

</html>