<!--
=========================================================
* Material Dashboard 2 - v3.0.4
=========================================================

* Product Page: https://www.creative-tim.com/product/material-dashboard
* Copyright 2022 Creative Tim (https://www.creative-tim.com)
* Licensed under MIT (https://www.creative-tim.com/license)
* Coded by Creative Tim

=========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-->


<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- header -->
<th:block th:replace="layout/header :: headerFragment"></th:block>


<body class="g-sidenav-show  bg-gray-100">

<!-- side bar -->
<th:block th:replace="layout/aside :: asideFragment"></th:block>


<main class="main-content border-radius-lg ">


    <!-- Navbar -->
    <th:block th:replace="layout/navbar :: navbarFragment"></th:block>


    <div class="container">
        <div class="row">
            <div class="col-12">

                <div class="card my-4">
                    <div class="card-header pb-0">
                        <div class="row">
                            <div class="col-lg-9 col-7">
                                <h3 style="font-family: 'Jua', sans-serif;; font-size: 3.5rem; font-weight: lighter;color: #5A2082">
                                    게시판</h3>

                            </div>

                        </div>
                    </div>
                    <div>
                        <hr style="color: #5A2082; height: 1.5px;background-color: #5A2082">
                    </div>

                    <div class="card-body px-0 pb-2 ">
                        <div class="table-responsive p-0 mb-4">
                            <table class="table align-items-center mb-0">
                                <thead>
                                <tr>
                                    <th class="text-center text-uppercase  font-weight-bolder" style="color: #5A2082">
                                        카테고리
                                    </th>
                                    <th class="text-center text-uppercase  font-weight-bolder " style="color: #5A2082">
                                        제목
                                    </th>
                                    <th class="text-center text-uppercase  font-weight-bolder " style="color: #5A2082">
                                        작성자
                                    </th>
                                    <th class="text-center text-uppercase  font-weight-bolder" style="color: #5A2082">
                                        작성 날짜
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="announcement : ${announcements}">

                                    <th:block th:if="${announcement.type =='공지사항'}">
                                        <th class="align-middle text-center">
                                                <span class=" text-xs font-weight-bold" style="color: #0d6efd"
                                                      th:text="${announcement.type}"></span>
                                        </th>
                                    </th:block>
                                    <th:block th:if="${announcement.type =='입시정보'}">
                                        <th class="align-middle text-center">
                                                <span class=" text-xs font-weight-bold" style="color: #5A2082"
                                                      th:text="${announcement.type}"></span>
                                        </th>
                                    </th:block>
                                    <td class="align-middle text-center">
                                        <a th:href="@{/academy/announcements/detail(announcementNum=${announcement.id})}">
                                                <span class=" text-xs font-weight-bold"
                                                      th:text="${announcement.title}"></span>
                                        </a>
                                    </td>
                                    <td class="align-middle text-center">
                                                <span class=" text-xs font-weight-bold"
                                                      th:text="${announcement.author}"></span>
                                    </td>
                                    <td class="align-middle text-center">
                                                <span class=" text-xs font-weight-bold"
                                                      th:text="${announcement.createdAt}"></span>
                                    </td>

                                </tr>
                                </tbody>
                            </table>
                        </div>

                        <ul class="pagination justify-content-center">

                            <li class="page-item"><a class="page-link"
                                                     th:href="@{/academy/announcements(page=${previous})}">◀</a></li>
                            <li class="page-item"><a class="page-link"
                                                     th:href="@{/academy/announcements(page=${next})}">▶</a></li>
                        </ul>
                    </div>
                    <div class="justify-content-center" style="margin: auto">
                        <form class="form-inline w-100  " action="/academy/announcements"
                              method="get">
                            <div class="row mb-4">
                                <div class="col-8 align-self-center">
                                    <div class="input-group input-group-outline">

                                        <input type="text" class="form-control" name="title"
                                               placeholder="제목">
                                    </div>
                                </div>
                                <div class="col-4  align-self-center">
                                    <button type="submit"
                                            class="btn btn-sm bg-gradient-primary btn-lg mb-0">검색
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="d-flex justify-content-end mb-3">
                    <form action="/academy/announcements/write" method="get">
                        <button type="submit"
                                class="btn btn-sm bg-gradient-primary btn-lg mb-0">글 작성
                        </button>
                    </form>
                </div>
            </div>


        </div>
    </div>
    <!--footer-->
    <th:block th:replace="layout/footer :: footerFragment"></th:block>
</main>
<!--   Core JS Files   -->
<script src="/assets/js/core/popper.min.js"></script>
<script src="/assets/js/core/bootstrap.min.js"></script>
<script src="/assets/js/plugins/perfect-scrollbar.min.js"></script>
<script src="/assets/js/plugins/smooth-scrollbar.min.js"></script>
<script src="/assets/js/material-dashboard.min.js?v=3.0.4"></script>
<link id="pagestyle" href="/assets/css/material-dashboard.css?v=3.0.4" rel="stylesheet"/>


</body>

</html>