<th:block th:fragment="asideFragment">
    <aside class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3   bg-gradient-primary"
           id="sidenav-main">

        <!--        사이드 바 상단 이미지-->
        <div style="background-color: #5A2082">
                <a href="/academy/main" class="text-center">
                    <h3 style="color:white;">MY ACADEMY</h3>
                    <p class="text-xs" style="font-weight: bold;color: #f4d6c0;background-color: #5A2082">easy management</p>

                </a>
                <div>
                    <hr class="horizontal light mt-0 mb-2">
                </div>
        </div>

        <div class="collapse navbar-collapse  w-auto " id="sidenav-collapse-main">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link text-white " href="/academy/main">
                        <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                            <i class='fas fas fa-home' style="color: #ecb085"></i>
                        </div>
                        <span class="nav-link-text ms-1">홈</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white " href="/academy/announcements">
                        <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                            <i class='fas fa-bullhorn' style="color: #ecb085"></i>
                        </div>
                        <span class="nav-link-text ms-1">게시판</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-white " href="/academy/student">
                        <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                            <i class='fas fa-book-reader' style="color: #ecb085"></i>
                        </div>
                        <span class="nav-link-text ms-1">학생 관리</span>
                    </a>
                </li>


                <li class="nav-item">
                    <a class="nav-link text-white " href="/academy/lecture">
                        <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                            <i class='fas fa-chalkboard-teacher' style="color: #ecb085"></i>
                        </div>
                        <span class="nav-link-text ms-1">강좌 관리</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-white " href="/academy/enrollment">
                        <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                            <i class='fas fa-user-check' style="color: #ecb085"></i>
                        </div>
                        <span class="nav-link-text ms-1">수강 신청</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-white " href="/academy/payment">
                        <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                            <i class='far fa-credit-card' style="color: #ecb085"></i>
                        </div>
                        <span class="nav-link-text ms-1">결제 관리</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-white " href="/academy/discount">
                        <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                            <i class='fas fa-percent' style="color: #ecb085"></i>
                        </div>
                        <span class="nav-link-text ms-1">할인 정책</span>
                    </a>
                </li>

                <li class="nav-item mt-3">
                    <h6 class="ps-4 ms-2 text-uppercase text-xs text-white font-weight-bolder opacity-8">Account
                        pages</h6>
                </li>
                <th:block th:if="${account =='admin'}">

                    <li class="nav-item">
                        <a class="nav-link text-white " href="/academy/employees">

                            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                                <i class='fas fa-users' style="color: #ecb085"></i>
                            </div>

                            <span class="nav-link-text ms-1">직원관리</span>
                        </a>
                    </li>
                </th:block>
                <li class="nav-item">
                    <a class="nav-link text-white " href="/academy/mypage">

                        <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                            <i class="material-icons opacity-10" style="color: #ecb085">person</i>
                        </div>

                        <span class="nav-link-text ms-1">마이페이지</span>
                    </a>
                </li>


                <li class="nav-item">
                    <a class="nav-link text-white " th:href="@{/logoutEmployee}">

                        <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                            <i class="material-icons opacity-10" style="color: #ecb085">login</i>
                        </div>

                        <span class="nav-link-text ms-1">로그아웃</span>
                    </a>
                </li>

            </ul>
        </div>

    </aside>
</th:block>