<th:block th:fragment="navbarFragment">
    <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur"
         data-scroll="true">
        <div class="container-fluid py-1 px-3">

            <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
                <div class="ms-md-auto pe-md-3 d-flex align-items-center">



                </div>
                <ul class="navbar-nav  justify-content-end">

                    <li class="nav-item d-flex align-items-center" style="margin-left: 5px">
                        <a href="/academy/mypage" class="nav-link text-body font-weight-bold px-0">
                            <i class="fa fa-user me-sm-1" style="color:#5A2082;"></i>
                            <span class="d-sm-inline d-none" th:text="|${session.name} [ ${session.role} ]님이 로그인 중입니다.|">Sign In</span>
                        </a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>

    <br>
    <br>

    <!-- End Navbar -->
</th:block>