<!--
=========================================================
* Material Dashboard 2 - v3.0.4
=========================================================

* Product Page: https://www.creative-tim.com/product/material-dashboard
* Copyright 2022 Creative Tim (https://www.creative-tim.com)
* Licensed under MIT (https://www.creative-tim.com/license)
* Coded by Creative Tim

=========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-->


<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- header -->
<th:block th:replace="layout/header :: headerFragment"></th:block>


<body class="g-sidenav-show  bg-gray-100">

<!-- side bar -->
<th:block th:replace="layout/aside :: asideFragment"></th:block>


<main class="main-content border-radius-lg ">


    <!-- Navbar -->
    <th:block th:replace="layout/navbar :: navbarFragment"></th:block>


    <div class="container">
        <div class="row">
            <div class="col-7">
                <div class="row">
                    <div class="row">
                        <div class="card my-4">

                            <div class="col-9">
                                <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                                    <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                                        <h6 class="text-white text-capitalize ps-3">선택한 강사 정보입니다.</h6>
                                    </div>
                                </div>
                            </div>


                            <div class="card-body px-0 pb-2">
                                <div class="table">
                                    <table class="table align-items-center mb-0">
                                        <thead>
                                        <tr>
                                            <th class="text-center text-uppercase  font-weight-bolder"
                                                style="color: #5A2082;font-size: small">
                                                강사 사진
                                            </th>
                                            <th class="text-center text-uppercase  font-weight-bolder"
                                                style="color: #5A2082;font-size: small">
                                                강사 이름
                                            </th>
                                            <th class="text-center text-uppercase  font-weight-bolder "
                                                style="color: #5A2082;font-size: small">
                                                담당 과목
                                            </th>
                                            <th class="text-center text-uppercase  font-weight-bolder "
                                                style="color: #5A2082;font-size: small">
                                                전화번호
                                            </th>

                                            <th class="text-secondary opacity-7"></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <div>

                                            <th:block th:if="${teacher !=null}">

                                                <th class="align-middle text-center">
                                                    <div class="flex">
                                                        <th:block th:if="${teacher.imageUrl =='null'}">
                                                            <img src="https://raw.githubusercontent.com/buinq/imageServer/main/img/image-20230204013043779.png"
                                                                 class="avatar avatar-xl me-3 border-radius-lg">
                                                        </th:block>
                                                        <th:block th:if="${teacher.imageUrl != 'null'}">
                                                            <img th:src="${teacher.imageUrl}"
                                                                 class="avatar avatar-xl me-3 border-radius-lg">
                                                        </th:block>
                                                    </div>
                                                </th>

                                                <th class="align-middle text-center">
                                                <span class=" text font-weight-bold" style="font-size: small"
                                                      th:text="${teacher.name}"></span>
                                                </th>
                                                <th class="align-middle text-center">
                                                <span class=" text font-weight-bold" style="font-size: small"
                                                      th:text="${teacher.subject}"></span>
                                                </th>
                                                <th class="align-middle text-center">
                                                <span class=" text font-weight-bold" style="font-size: small"
                                                      th:text="${teacher.phoneNum}"></span>
                                                </th>
                                                <input type="text" class="form-control" name="teacherId"
                                                       placeholder="강좌 이름" th:value="${teacher.id}" hidden>

                                            </th:block>
                                        </div>
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <br>
                <div class="row">
                    <div class="card my-4">

                        <div class="col-8">
                            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                                <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                                    <h6 class="text-white text-capitalize ps-3"> 해당 강사가 맡은 강의 정보입니다.</h6>
                                </div>
                            </div>
                        </div>


                        <div class="card-body px-0 pb-2">
                            <div class="table-responsive">
                                <table class="table align-items-center mb-0">
                                    <thead>
                                    <tr>
                                        <th class="text-center text-uppercase  font-weight-bolder"
                                            style="color: #5A2082;font-size: small">
                                            강의 이름
                                        </th>
                                        <th class="text-center text-uppercase  font-weight-bolder"
                                            style="color: #5A2082;font-size: small">
                                            강사 이름
                                        </th>
                                        <th class="text-center text-uppercase  font-weight-bolder"
                                            style="color: #5A2082;font-size: small">
                                            강의 시간
                                        </th>
                                        <th class="text-center text-uppercase  font-weight-bolder "
                                            style="color: #5A2082;font-size: small">
                                            강의 시작일
                                        </th>
                                        <th class="text-center text-uppercase  font-weight-bolder "
                                            style="color: #5A2082;font-size: small">
                                            강의 종료일
                                        </th>
                                        <th class="text-center text-uppercase  font-weight-bolder "
                                            style="color: #5A2082;font-size: small">
                                            현재 수강 인원
                                        </th>

                                        <th class="text-secondary opacity-7"></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <div>

                                        <tr th:each="lecture : ${lectures}">

                                            <th class="align-middle text-center">
                                                <span class=" text font-weight-bold" style="font-size: small"
                                                      th:text="${lecture.lectureName}"></span>
                                            </th>
                                            <th class="align-middle text-center">
                                                <span class=" text font-weight-bold" style="font-size: small"
                                                      th:text="${lecture.teacherName}"></span>
                                            </th>

                                            <th class="align-middle text-center">
                                                <span class=" text font-weight-bold" style="font-size: small"
                                                      th:text="${lecture.lectureDay} +' | ' + ${lecture.lectureTime}"></span>
                                            </th>
                                            <th class="align-middle text-center">
                                                <span class=" text font-weight-bold" style="font-size: small"
                                                      th:text="${lecture.startDate}"></span>
                                            </th>
                                            <th class="align-middle text-center">
                                                <span class=" text font-weight-bold" style="font-size: small"
                                                      th:text="${lecture.finishDate}"></span>
                                            </th>
                                            <th class="align-middle text-center">
                                                <span class=" text font-weight-bold" style="font-size: small"
                                                      th:text="${lecture.currentEnrollmentNumber}"></span>
                                            </th>

                                        </tr>
                                    </div>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-1">
            </div>
            <div class="col-3 ">

                <div class="card card-plain">
                    <h4 class="font-weight-bolder"> 강좌 등록</h4>
                    <p class="mb-0">등록할 강좌 정보를 입력해주세요.</p>
                </div>
                <br>

                <div class="card-body">
                    <div class="input-group input-group-outline mb-3">
                        <label class="form-label">강좌 이름</label>
                        <input type="text" class="form-control" id="input-lectureName">
                    </div>
                    <div class="input-group input-group-outline mb-3">
                        <label class="form-label">강좌 가격</label>
                        <input type="text" class="form-control" id="input-lecturePrice">
                    </div>
                    <div class="input-group input-group-static my-3">
                        <label>강좌 요일을 선택하세요.</label>
                    </div>
                    <div class="row">
                        <div class="col-1">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="일" id="Sun" th:checked="false" name="lectureDay">
                                <label class="custom-control-label" for="Sun">일</label>
                            </div>
                        </div>
                        <div class="col-1">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="월" id="Mon" th:checked="false" name="lectureDay">
                                <label class="custom-control-label" for="Mon">월</label>
                            </div>
                        </div>
                        <div class="col-1">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="화" id="Tue" th:checked="false" name="lectureDay">
                                <label class="custom-control-label" for="Tue">화</label>
                            </div>
                        </div>

                        <div class="col-1">

                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="수" id="Wed" th:checked="false" name="lectureDay">
                                <label class="custom-control-label" for="Wed">수</label>
                            </div>
                        </div>

                        <div class="col-1">

                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="목" id="Thu" th:checked="false" name="lectureDay">
                                <label class="custom-control-label" for="Thu">목</label>
                            </div>
                        </div>

                        <div class="col-1">

                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="금" id="Fri" th:checked="false" name="lectureDay">
                                <label class="custom-control-label" for="Fri">금</label>
                            </div>
                        </div>

                        <div class="col-1">

                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="토" id="Sat" th:checked="false" name="lectureDay">
                                <label class="custom-control-label" for="Sat">토</label>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="input-group input-group-static my-3">
                    <label>강좌 시작 시간</label>
                    <input type="time" class="form-control" id="input-lectureStartTime">
                </div>
                <div class="input-group input-group-static my-3">
                    <label>강좌 종료 시간</label>
                    <input type="time" class="form-control" id="input-lectureEndTime">
                </div>
                <div class="input-group input-group-static my-3">
                    <label>강좌 시작일 </label>
                    <input type="date" class="form-control" id="input-lectureStartDate">
                </div>
                <div class="input-group input-group-static my-3">
                    <label>강좌 종료일</label>
                    <input type="date" class="form-control" id="input-lectureEndDate">
                </div>
                <div class="input-group input-group-outline mb-3">
                    <label class="form-label">최소 수강정원</label>
                    <input type="text" class="form-control" id="input-minimumCapacity">
                </div>
                <div class="input-group input-group-outline mb-3">
                    <label class="form-label">최대 수강정원</label>
                    <input type="email" class="form-control" id="input-maximumCapacity">
                </div>
                <!--                    <button th:data-parameter1="${academyId}"  th:data-parameter2="${employeeId}"-->
                <!--                            th:onclick="|register.registerLecture(this.getAttribute('data-parameter1'),this.getAttribute('data-parameter2'))|" type="button"-->
                <div class="text-center">
                    <button
                            th:onclick="|register.registerLecture(${academyId},${teacherEmployeeId})|" type="button"
                            class="btn btn-lg bg-gradient-primary btn-lg w-100 mt-4 mb-0">강좌 등록
                    </button>
                </div>
            </div>
            <br>
        </div>
        <div class="col-1">
        </div>
    </div>
    </div>
    <!--footer-->
    <th:block th:replace="layout/footer :: footerFragment"></th:block>
</main>
<!--   Core JS Files   -->
<script src="/assets/js/core/popper.min.js"></script>
<script src="/assets/js/core/bootstrap.min.js"></script>
<script src="/assets/js/plugins/perfect-scrollbar.min.js"></script>
<script src="/assets/js/plugins/smooth-scrollbar.min.js"></script>
<script src="/assets/js/material-dashboard.min.js?v=3.0.4"></script>
<link id="pagestyle" href="/assets/css/material-dashboard.css?v=3.0.4" rel="stylesheet"/>

<Script>

    let register = {
        init: function () {
            var _this = this;
        },


        registerLecture: function (academyId, teacherEmployeeId) {

            const query = 'input[name="lectureDay"]:checked';
            const selectedEls =
                document.querySelectorAll(query);
            let result = '';
            selectedEls.forEach((el) => {
                result += el.value + ', ';
            });
            let day = result.substring(0, result.length-2);

            console.log(result);
            console.log(day);

            let data = {
                lectureName: document.querySelector('#input-lectureName').value.trim(),
                lecturePrice: document.querySelector('#input-lecturePrice').value.trim(),
                lectureDay: day,
                lectureTime: document.querySelector('#input-lectureStartTime').value + " ~ " + document.querySelector('#input-lectureEndTime').value,
                startDate: document.querySelector('#input-lectureStartDate').value.trim(),
                finishDate: document.querySelector('#input-lectureEndDate').value.trim(),
                minimumCapacity: document.querySelector('#input-minimumCapacity').value.trim(),
                maximumCapacity: document.querySelector('#input-maximumCapacity').value.trim(),
                currentEnrollmentNumber: 0
            };
            console.log(data);

            axios.post("/api/v1/academies/" + academyId + "/employees/" + teacherEmployeeId + "/lectures",
                JSON.stringify(data), {
                    headers: {
                        'Content-Type': 'application/json',
                    }
                }
            ).then((response) => {
                alert("강좌 정보 등록을 성공했습니다.");
                window.location.reload();

            }).catch((error) => {
                if (error.response.data.result["errorCode"] == "INVALID_PERMISSION") {
                    alert("강사는 접근할 수 없습니다.");
                }
            });

        }
    };

    register.init();

</script>

</body>

</html>