<!--
=========================================================
* Material Dashboard 2 - v3.0.4
=========================================================

* Product Page: https://www.creative-tim.com/product/material-dashboard
* Copyright 2022 Creative Tim (https://www.creative-tim.com)
* Licensed under MIT (https://www.creative-tim.com/license)
* Coded by Creative Tim

=========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-->


<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- header -->
<th:block th:replace="layout/header :: headerFragment"></th:block>


<body class="g-sidenav-show  bg-gray-100">

<!-- side bar -->
<th:block th:replace="layout/aside :: asideFragment"></th:block>


<main class="main-content border-radius-lg ">


    <!-- Navbar -->
    <th:block th:replace="layout/navbar :: navbarFragment"></th:block>


    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="row">
                        <div class="card my-4">

                            <div class="col-4">
                                <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                                    <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                                        <h6 class="text-white text-capitalize ps-3">선택한 학생 정보입니다.</h6>
                                    </div>
                                </div>
                            </div>


                            <div class="card-body px-0 pb-2">
                                <div class="table-responsive">
                                    <table class="table align-items-center mb-0">
                                        <thead>
                                        <tr>
                                            <th class="text-center text-uppercase  font-weight-bolder"
                                                style="color: #5A2082">
                                                학생 이름
                                            </th>
                                            <th class="text-center text-uppercase font-weight-bolder "
                                                style="color: #5A2082">
                                                학생 학교
                                            </th>
                                            <th class="text-center text-uppercase  font-weight-bolder "
                                                style="color: #5A2082">
                                                학생 생년월일
                                            </th>
                                            <th class="text-center text-uppercase  font-weight-bolder"
                                                style="color: #5A2082">
                                                학생 전화번호
                                            </th>
                                            <th class="text-center text-uppercase font-weight-bolder"
                                                style="color: #5A2082">
                                                학생 이메일
                                            </th>

                                            <th class="text-secondary opacity-7"></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <div>

                                            <th:block th:if="${student !=null}">

                                                <th class="align-middle text-center">
                                                <span class=" text-xs font-weight-bold"
                                                      th:text="${student.name}"></span>
                                                </th>
                                                <td class="align-middle text-center">
                                                <span class=" text-xs font-weight-bold"
                                                      th:text="${student.school}"></span>
                                                </td>
                                                <td class="align-middle text-center">
                                                <span class=" text-xs font-weight-bold"
                                                      th:text="${student.birth}"></span>
                                                </td>

                                                <td class="align-middle text-center">
                                                <span class=" text-xs font-weight-bold"
                                                      th:text="${student.phoneNum}"></span>
                                                </td>
                                                <td class="align-middle text-center">
                                                <span class=" text-xs font-weight-bold"
                                                      th:text="${student.email}"></span>
                                                </td>
                                                <input type="text" class="form-control" name="studentId"
                                                       placeholder="강좌 이름" th:value="${student.id}" hidden>
                                            </th:block>
                                        </div>
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-2" style="margin: auto">
                    <div class="card card-plain text-center">
                        <i class='fas fa-arrow-circle-down' style='font-size:48px;color:#5A2060'></i>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="card my-4">

                        <div class="col-4">
                            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                                <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                                    <h6 class="text-white text-capitalize ps-3"> 수강 신청할 강의를 선택하세요.</h6>
                                </div>
                            </div>
                        </div>


                        <div class="card-body px-0 pb-2">
                            <div class="table-responsive">
                                <table class="table align-items-center mb-0">
                                    <thead>
                                    <tr>
                                        <th class="text-center text-uppercase  font-weight-bolder"
                                            style="color: #5A2082;font-size: small">
                                            강의 이름
                                        </th>
                                        <th class="text-center text-uppercase  font-weight-bolder"
                                            style="color: #5A2082;font-size: small">
                                            강사 이름
                                        </th>
                                        <th class="text-center text-uppercase  font-weight-bolder"
                                            style="color: #5A2082;font-size: small">
                                            강의 시간
                                        </th>
                                        <th class="text-center text-uppercase  font-weight-bolder "
                                            style="color: #5A2082;font-size: small">
                                            강의 시작일
                                        </th>
                                        <th class="text-center text-uppercase  font-weight-bolder "
                                            style="color: #5A2082;font-size: small">
                                            강의 종료일
                                        </th>
                                        <th class="text-center text-uppercase  font-weight-bolder "
                                            style="color: #5A2082;font-size: small">
                                            현재 수강 인원 현황
                                        </th>
                                        <th class="text-center text-uppercase  font-weight-bolder "
                                            style="color: #5A2082;font-size: small">
                                            최대 수강 인원
                                        </th>
                                        <th class="text-center text-uppercase  font-weight-bolder "
                                            style="color: #5A2082;font-size: small">
                                            현재 대기 인원
                                        </th>

                                        <th class="text-secondary opacity-7"></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <div>

                                        <tr th:each="lecture : ${lectures}">

                                            <th class="align-middle text-center">
                                                <span class=" text font-weight-bold" style="font-size: small"
                                                      th:text="${lecture.lectureName}"></span>
                                            </th>
                                            <th class="align-middle text-center">
                                                <span class=" text font-weight-bold" style="font-size: small"
                                                      th:text="${lecture.teacherName}"></span>
                                            </th>

                                            <th class="align-middle text-center">
                                                <span class=" text font-weight-bold" style="font-size: small"
                                                      th:text="${lecture.lectureDay} +' // ' + ${lecture.lectureTime}"></span>
                                            </th>
                                            <th class="align-middle text-center">
                                                <span class=" text font-weight-bold" style="font-size: small"
                                                      th:text="${lecture.startDate}"></span>
                                            </th>
                                            <th class="align-middle text-center">
                                                <span class=" text font-weight-bold" style="font-size: small"
                                                      th:text="${lecture.finishDate}"></span>
                                            </th>
                                            <th class="align-middle text-center">

                                                <button type="button"
                                                        data-bs-toggle="modal"
                                                        th:attr="data-bs-target='#registerList'+${lecture.lectureId}"
                                                        class="btn btn-lg bg-gradient-primary btn-sm w-110  mb-0"
                                                        th:text="${lecture.currentEnrollmentNumber}">
                                                </button>
                                            </th>

                                            <th class="align-middle text-center">
                                                <span class=" text font-weight-bold" style="font-size: small"
                                                      th:text="${lecture.maximumCapacity}"></span>
                                            </th>
                                            <th class="align-middle text-center">

                                                <button type="button"
                                                        data-bs-toggle="modal"
                                                        th:attr="data-bs-target='#waitingList'+${lecture.lectureId}"
                                                        class="btn btn-lg bg-gradient-secondary btn-sm w-110  mb-0"
                                                        th:text="${lecture.waitingNum}">
                                                </button>
                                            </th>

                                            <th:block
                                                    th:if="${lecture.currentEnrollmentNumber <lecture.maximumCapacity}">
                                                <th class="align-middle text-center">
                                                    <button th:data-parameter1="${academyId}"
                                                            th:data-parameter2="${student.id}"
                                                            th:data-parameter3="${lecture.lectureId}"
                                                            th:onclick="|register.registerEnrollment(this.getAttribute('data-parameter1'),this.getAttribute('data-parameter2'),this.getAttribute('data-parameter3'))|"
                                                            type="button"
                                                            class="btn btn-lg bg-gradient-primary btn-lg w-100  mb-0">수강
                                                        신청
                                                    </button>
                                                </th>
                                            </th:block>
                                            <th:block
                                                    th:if="${lecture.currentEnrollmentNumber >= lecture.maximumCapacity}">
                                                <th class="align-middle text-center">
                                                    <button th:data-parameter1="${academyId}"
                                                            th:data-parameter2="${student.id}"
                                                            th:data-parameter3="${lecture.lectureId}"
                                                            th:onclick="|register.registerWaiting(this.getAttribute('data-parameter1'),this.getAttribute('data-parameter2'),this.getAttribute('data-parameter3'))|"
                                                            type="button"
                                                            class="btn btn-lg bg-gradient-secondary btn-lg w-100  mb-0">
                                                        대기 신청
                                                    </button>
                                                </th>
                                            </th:block>


                                        </tr>
                                    </div>
                                    </tbody>
                                </table>
                            </div>

                            <!-- Modal -->
                            <div th:each="lecture : ${lectures}">
                                <div class="modal fade" th:id="'registerList'+${lecture.lectureId}"
                                     tabindex="-1"
                                     aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">

                                                <h6 th:text="|${lecture.teacherName} 선생님의 ${lecture.lectureName} 강의의 수강 신청자 |"></h6>

                                                <div class="row"></div>
                                            </div>
                                            <div class="modal-body">
                                                <div class="table">
                                                    <table class="table align-items-center mb-0">
                                                        <thead>
                                                        <tr>
                                                            <th class="text-center text-uppercase  font-weight-bolder">
                                                                학생 이름
                                                            </th>
                                                            <th class="text-center text-uppercase  font-weight-bolder ">
                                                                학생 전화번호
                                                            </th>
                                                            <th class="text-center text-uppercase font-weight-bolder ">
                                                                결제 여부
                                                            </th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr th:each="student : ${lecture.registeredStudent}">
                                                            <th class="align-middle text-center">
                                                <span class=" text-xs font-weight-bold"
                                                      th:text="${student.studentName}"></span>
                                                            </th>
                                                            <td class="align-middle text-center">
                                                <span class=" text-xs font-weight-bold"
                                                      th:text="${student.studentPhoneNum}"></span>
                                                            </td>
                                                            <td class="align-middle text-center">
                                                <span class=" text-xs font-weight-bold"
                                                      th:text="${student.paymentYn}"></span>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>

                                            <div class="modal-footer mx-auto">
                                                <button type="button" class="btn btn-secondary"
                                                        data-bs-dismiss="modal">닫기
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Modal -->
                            <div th:each="lecture : ${lectures}">
                                <div class="modal fade" th:id="'waitingList'+${lecture.lectureId}"
                                     tabindex="-1"
                                     aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">

                                                <h6 th:text="|${lecture.teacherName} 선생님의 ${lecture.lectureName} 강의의 대기 신청자 |"></h6>

                                                <div class="row"></div>
                                            </div>
                                            <div class="modal-body">
                                                <div class="table">
                                                    <table class="table align-items-center mb-0">
                                                        <thead>
                                                        <tr>
                                                            <th class="text-center text-uppercase  font-weight-bolder">
                                                                대기번호 순서
                                                            </th>
                                                            <th class="text-center text-uppercase  font-weight-bolder">
                                                                학생 이름
                                                            </th>
                                                            <th class="text-center text-uppercase  font-weight-bolder ">
                                                                학생 전화번호
                                                            </th>

                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr th:each="student : ${lecture.getWaitingStudent}">
                                                            <td class="align-middle text-center">
                                                <span class=" text-xs font-weight-bold"
                                                      th:text="${student.waitingNum}"></span>
                                                            </td>
                                                            <th class="align-middle text-center">
                                                <span class=" text-xs font-weight-bold"
                                                      th:text="${student.studentName}"></span>
                                                            </th>
                                                            <td class="align-middle text-center">
                                                <span class=" text-xs font-weight-bold"
                                                      th:text="${student.studentPhoneNum}"></span>
                                                            </td>
                                                            <td class="align-middle">

                                                                <a href="javascript:;"
                                                                   th:onclick="|register.deleteWaiting(${academyId},${student.studentId},${student.lectureId},${student.waitingId})|"
                                                                   type="button"
                                                                   class="text-danger font-weight-bold text-xs"
                                                                   data-toggle="tooltip"
                                                                   data-original-title="delete-academy">
                                                                    delete
                                                                </a>
                                                            </td>

                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>

                                            <div class="modal-footer mx-auto">
                                                <button type="button" class="btn btn-secondary"
                                                        data-bs-dismiss="modal">닫기
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!--footer-->
    <th:block th:replace="layout/footer :: footerFragment"></th:block>
</main>
<!--   Core JS Files   -->
<script src="/assets/js/core/popper.min.js"></script>
<script src="/assets/js/core/bootstrap.min.js"></script>
<script src="/assets/js/plugins/perfect-scrollbar.min.js"></script>
<script src="/assets/js/plugins/smooth-scrollbar.min.js"></script>
<script src="/assets/js/material-dashboard.min.js?v=3.0.4"></script>
<link id="pagestyle" href="/assets/css/material-dashboard.css?v=3.0.4" rel="stylesheet"/>

<Script>

    let register = {
        init: function () {
            var _this = this;
        },


        registerEnrollment: function (academyId, studentId, lectureId) {

            const data = null;
            axios.post("/api/v1/academies/" + academyId + "/students/" + studentId + "/lectures/" + lectureId + "/enrollments",
                JSON.stringify(data), {
                    headers: {
                        'Content-Type': 'application/json',
                    }
                }
            ).then((response) => {
                alert("수강 신청을 성공했습니다.");
                window.location.reload();

            }).catch((error) => {
                if (error.response.data.result["errorCode"] == "INVALID_PERMISSION") {
                    alert("강사는 접근할 수 없습니다.");
                } else if (error.response.data.result["errorCode"] == "DUPLICATED_ENROLLMENT") {
                    alert("해당 학생은 해당 강의를 이미 수강 신청한 상태입니다.");
                }
            });

        },

        registerWaiting: function (academyId, studentId, lectureId) {

            const data = null;
            axios.post("/api/v1/academies/" + academyId + "/students/" + studentId + "/lectures/" + lectureId + "/waitinglists",
                JSON.stringify(data), {
                    headers: {
                        'Content-Type': 'application/json',
                    }
                }
            ).then((response) => {
                alert("수강 대기 신청을 성공했습니다.");
                window.location.reload();

            }).catch((error) => {
                if (error.response.data.result["errorCode"] == "INVALID_PERMISSION") {
                    alert("강사는 접근할 수 없습니다.");
                } else if (error.response.data.result["errorCode"] == "DUPLICATED_WAITINGLIST") {
                    alert("해당 학생은 해당 강의를 이미 대기 신청한 상태입니다.");
                }
            });

        },

        deleteWaiting: function (academyId, studentId, lectureId, waitinglistId) {

            const con_check = confirm("대기 취소하시겠습니까?");

            if (con_check === true) {
                axios.delete("/api/v1/academies/" + academyId + "/students/" + studentId + "/lectures/" + lectureId + "/waitinglists/" + waitinglistId,
                    {
                        headers: {
                            'Content-Type': 'application/json',
                        }
                    }
                ).then((response) => {
                    alert("대기 취소 성공");
                    window.location.reload();
                }).catch((error) => {
                });
            }
        }
    };

    register.init();

</script>

</body>

</html>