<!--
=========================================================
* Material Dashboard 2 - v3.0.4
=========================================================

* Product Page: https://www.creative-tim.com/product/material-dashboard
* Copyright 2022 Creative Tim (https://www.creative-tim.com)
* Licensed under MIT (https://www.creative-tim.com/license)
* Coded by Creative Tim

=========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="layout/header :: headerFragment"></th:block>


<body class="">
<div class="container position-sticky z-index-sticky top-0">
    <div class="row">
        <div class="col-12">

        </div>
    </div>
</div>
<main class="main-content  mt-0">
    <!--    <div-->
    <!--         style="background-image: url('https://images.unsplash.com/photo-1497294815431-9365093b7331?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1950&q=80');"-->
    <!--    >-->
    <!--        <span class="mask bg-gradient-dark opacity-8"></span>-->
    <section>
        <div class="page-header min-vh-100">
            <div class="container" style="height: 50%;">
                <div class="row">
                    <div class="col-xl-8 col-lg-5 col-md-7 d-flex flex-column ms-auto me-auto ms-lg-auto me-lg-5 my-5">

                        <div class="card my-4">
                            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                                <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                                    <h6 class="text-white text-capitalize ps-3">등록된 학원 정보</h6>
                                </div>
                            </div>
                            <div class="card-body px-0 pb-2">
                                <div class="table-responsive p-0">
                                    <table class="table align-items-center mb-0">
                                        <thead>
                                        <tr>
                                            <th class="text-center text-uppercase  font-weight-bolder">
                                                학원 이름
                                            </th>
                                            <th class="text-center text-uppercase  font-weight-bolder ">
                                                학원 대표자명
                                            </th>
                                            <th class="text-center text-uppercase font-weight-bolder ">
                                                학원 주소
                                            </th>
                                            <th class="text-center text-uppercase  font-weight-bolder">
                                                학원 사업자 등록 번호
                                            </th>
                                            <th class="text-center text-uppercase font-weight-bolder">
                                                학원 전화번호
                                            </th>
                                            <th class="text-secondary opacity-7"></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="academy : ${academies}">
                                            <th class="align-middle text-center">
                                                <span class=" text-xs font-weight-bold"
                                                      th:text="${academy.name}"></span>
                                            </th>
                                            <td class="align-middle text-center">
                                                <span class=" text-xs font-weight-bold"
                                                      th:text="${academy.owner}"></span>
                                            </td>
                                            <td class="align-middle text-center">
                                                <span class=" text-xs font-weight-bold"
                                                      th:text="${academy.address}"></span>
                                            </td>
                                            <td class="align-middle text-center">
                                                <span class=" text-xs font-weight-bold"
                                                      th:text="${academy.businessRegistrationNumber}"></span>
                                            </td>
                                            <td class="align-middle text-center">
                                                <span class=" text-xs font-weight-bold"
                                                      th:text="${academy.phoneNum}"></span>
                                            </td>
                                            <td class="align-middle">

                                                <a href="javascript:;"
                                                   th:onclick="|academy.delete(${academy.academyId})|" type="button"
                                                   class="text-danger font-weight-bold text-xs"
                                                   data-toggle="tooltip"
                                                   data-original-title="delete-academy">
                                                    delete
                                                </a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="col-xl-3 col-lg-5 col-md-7 d-flex flex-column ms-auto me-auto ms-lg-auto me-lg-5">
                        <div class="card my-5">

                            <div class="card card-plain mt-3 mx-3">
                                <h4 class="font-weight-bolder">학원 등록</h4>
                                <p class="mb-0">등록할 학원 정보를 입력해주세요.</p>
                            </div>

                            <div class="card-body">
                                <div class="input-group input-group-outline mb-3">
                                    <label class="form-label">학원 이름</label>
                                    <input type="text" class="form-control" id="input-academyName" name ="academyName">
                                </div>
                                <div class="input-group input-group-outline mb-3">
                                    <label class="form-label">학원 대표자명</label>
                                    <input type="text" class="form-control" id="input-academyOwner" name ="academyOwner">
                                </div>
                                <div class="input-group input-group-outline mb-3">
                                    <label class="form-label">학원 사업자 등록 번호 (10자리 숫자) </label>
                                    <input type="text" class="form-control" id="input-academybusinessNum">
                                </div>
                                <div class="input-group input-group-outline mb-3">
                                    <label class="form-label">학원 전화번호</label>
                                    <input type="text" class="form-control" id="input-academyphoneNum"  name ="academyPhoneNum">
                                </div>
                                <div class="input-group input-group-outline mb-3">
                                    <input type="text" class="form-control" id="address_kakao" readonly
                                           placeholder="학원 주소">
                                </div>
                                <div class="input-group input-group-outline mb-3">
                                    <label class="form-label">상세주소</label>
                                    <input type="text" class="form-control" id="address_detail_kakao"
                                           name="address_detail"
                                    >
                                </div>

                                <div class="text-center">
                                    <button th:onclick="|academy.check()|" type="button"
                                            class="btn btn-lg bg-gradient-primary btn-lg w-100 mt-4 mb-0">학원 등록
                                    </button>
                                </div>
                            </div>
                            <br>
                            <div class="card-footer text-center pt-0 px-lg-2 px-1">
                                <p class="mb-2 text-sm mx-auto">
                                    회원 가입 하시겠습니까?
                                    <a th:href="@{/join}" class="text-primary text-gradient font-weight-bold">회원 가입</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>
</main>
<!--   Core JS Files   -->
<script src="/assets/js/core/popper.min.js"></script>
<script src="/assets/js/core/bootstrap.min.js"></script>
<script src="/assets/js/plugins/perfect-scrollbar.min.js"></script>
<script src="/assets/js/plugins/smooth-scrollbar.min.js"></script>
<script src="/assets/js/material-dashboard.min.js?v=3.0.4"></script>
<Script>

    let academy = {
        init: function () {
            var _this = this;
        },
        create: function () {
            let data = {
                name: document.querySelector('#input-academyName').value.trim(),
                address: document.querySelector("#address_kakao").value.trim() + "  " + document.querySelector("#address_detail_kakao").value.trim(),
                phoneNum: document.querySelector('#input-academyphoneNum').value.trim(),
                owner: document.querySelector('#input-academyOwner').value.trim(),
                businessRegistrationNumber: document.querySelector('#input-academybusinessNum').value.trim()
            };
            console.log(data);

            axios.post("/api/v1/academies",
                JSON.stringify(data), {
                    headers: {
                        'Content-Type': 'application/json',
                    }
                }
            ).then((response) => {
                console.log(response);
                alert("학원등록 성공");
                window.location.href = '/academies';

            }).catch((error) => {
                console.log(error);
                if (error.response.data.result["errorCode"] == "DUPLICATED_ACADEMY") {
                    alert("학원 이름은 중복될 수 없습니다.");
                    window.location.href = '/academies';
                }


            });

        },

        delete: function (academyId) {

            const con_check = confirm("삭제하시겠습니까?(나중에는 학원 사업자 등록 번호 입력해야 삭제할 수 있게끔 구현)");

            if (con_check === true) {
                axios.delete("/api/v1/academies/" + academyId + "/delete",
                    {
                        headers: {
                            'Content-Type': 'application/json',
                        }
                    }
                ).then((response) => {
                    alert("학원삭제 성공");
                    window.location.href = '/academies';
                }).catch((error) => {
                });
            }
        },

        check: function () {



            axios.post("https://api.odcloud.kr/api/nts-businessman/v1/status?serviceKey=gwWHo3wdrtSmrSA3XKwtebZwcULcFUiaspzDlATw1W2vzvQEg4RlHgXQLCdj//M0CHkuQWekdG1tXT07kz87lg==",
                JSON.stringify({ b_no: [document.querySelector('#input-academybusinessNum').value.trim()] }),
                {
                    headers: {
                        'Content-Type': 'application/json',
                    }
                }
            ).then((response) => {
                if (response.data.data[0]["b_stt_cd"] != "01") {
                    alert("국세청에 등록되어있지 않은 사업자 등록 번호이거나 계속 사업자가 아닙니다.");
                    return;
                }
                let data = {
                    name: document.querySelector('#input-academyName').value.trim(),
                    address: document.querySelector("#address_kakao").value.trim() + "  " + document.querySelector("#address_detail_kakao").value.trim(),
                    phoneNum: document.querySelector('#input-academyphoneNum').value.trim(),
                    owner: document.querySelector('#input-academyOwner').value.trim(),
                    businessRegistrationNumber: document.querySelector('#input-academybusinessNum').value.trim()
                };
                console.log(data);

                var blank_pattern = /[\s]/g;

                if (data.name == '') {
                    alert('학원명은 필수 입력 항목입니다.');
                    document.querySelector("input[name=academyName]").focus();

                    return;
                }

                if (blank_pattern.test(data.owner) == true || data.owner == '') {
                    alert('대표자명에 공백이 입력되었습니다. 다시 입력해주세요');
                    document.querySelector("input[name=academyOwner]").focus();
                    return;
                }

                if (blank_pattern.test(data.phoneNum) == true || data.phoneNum == '') {
                    alert('전화번호에 공백이 입력되었습니다. 다시 입력해주세요');
                    document.querySelector("input[name=academyPhoneNum]").focus();
                    return;
                }

                if (data.address == '  ') {
                    alert('주소는 필수 입력 항목입니다.');
                    return;
                }

                axios.post("/api/v1/academies",
                    JSON.stringify(data), {
                        headers: {
                            'Content-Type': 'application/json',
                        }
                    }
                ).then((response) => {
                    console.log(response);
                    alert("학원등록 성공");
                    window.location.href = '/academies';

                }).catch((error) => {
                    console.log(error);
                    if (error.response.data.result["errorCode"] == "DUPLICATED_ACADEMY") {
                        alert("학원 이름은 중복될 수 없습니다.");
                        window.location.href = '/academies';
                    }


                });
            }).catch((error) => {
                console.log(error);

            });
        }

    };

    academy.init();

</script>

<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>
    $(document).ready(function () {
        document.getElementById("address_kakao").addEventListener("click", function () { //주소입력칸을 클릭하면
            //카카오 지도 발생
            new daum.Postcode({
                oncomplete: function (data) { //선택시 입력값 세팅
                    document.getElementById("address_kakao").value = data.address; // 주소 넣기
                    document.querySelector("input[name=address_detail]").focus(); //상세입력 포커싱
                }
            }).open();
        });
    });
</script>
</body>

</html>