<!--
=========================================================
* Material Dashboard 2 - v3.0.4
=========================================================

* Product Page: https://www.creative-tim.com/product/material-dashboard
* Copyright 2022 Creative Tim (https://www.creative-tim.com)
* Licensed under MIT (https://www.creative-tim.com/license)
* Coded by Creative Tim

=========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-->
<!DOCTYPE html>
<html lang="en">

<th:block th:replace="layout/header :: headerFragment"></th:block>


<body class="bg-gray-200">
<div class="container position-sticky z-index-sticky top-0">
    <div class="row">
        <div class="col-12">

        </div>
    </div>
</div>
<main class="main-content  mt-0">
    <div class="page-header align-items-start min-vh-100"
         style="background-image: url('https://images.unsplash.com/photo-1497294815431-9365093b7331?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1950&q=80');"
    >
        <span class="mask bg-gradient-dark opacity-6"></span>
        <div class="container my-auto">
            <div class="row">
                <div class="col-lg-4 col-md-8 col-12 mx-auto">
                    <div class="card z-index-0 fadeIn3 fadeInBottom">
                        <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                            <div class="bg-gradient-primary shadow-primary border-radius-lg py-3 pe-1">
                                <h4 class="text-white font-weight-bolder text-center mt-2 mb-0">
                                    <img src="https://raw.githubusercontent.com/buinq/imageServer/main/img/image-20230120001920792.png"
                                         alt="image-20230120001920792" style="zoom: 40%;"/>
                                </h4>

                            </div>
                        </div>
                        <div class="card-body">
                            <div class="text-center">
                                <h5 style="color: #5A2082">로그인</h5>
                            </div>
                            <div>
                                <hr style="color: #5A2082; height: 1.5px;background-color: #5A2082">
                            </div>
                            <br>
                            <form role="form">
                                <div class="row ">
                                    <div class="col-12 align-self-center">

                                        <div class="input-group input-group-outline  ">
                                            <label class="form-label">학원 이름</label>
                                            <input type="text" class="form-control"
                                                   id="input-academyName" name="academyName"
                                                   oninput="check_academyExist()">
                                        </div>
                                        <div id="academy-pass" class="alert-pass" hidden
                                             style="color: #5A2082;font-size: small">존재하는 학원입니다. 로그인을 진행해주세요.
                                        </div>
                                        <div id="academy-fail" class="alert-pass" hidden
                                             style="color: red;font-size: small">존재하지 않는 학원입니다.
                                            <a th:href="@{/academies}"
                                               class="text-info text-gradient font-weight-bold">학원 등록</a> 먼저 해주세요.
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <form role="form" class="text-start" action="/auth/loginProc" method="post">
                                <div class="input-group input-group-outline my-3">
                                    <label class="form-label">계정</label>
                                    <input type="account" class="form-control" id="input-employeeAccount" name = "account">
                                </div>
                                <div class="input-group input-group-outline mb-3">
                                    <label class="form-label">비밀번호</label>
                                    <input type="password" class="form-control" id="input-employeePassword" name = "password">
                                </div>
<!--                                <div class="form-check form-switch d-flex align-items-center mb-3">-->
<!--                                    <input class="form-check-input" type="checkbox" id="remember-me" name = "remember-me" checked>-->
<!--                                    <label class="form-check-label mb-0 ms-3" for="remember-me">Remember me</label>-->
<!--                                </div>-->
                                <div class="text-center">
                                    <button th:onclick="|login.loginEmployee()|" type="button" class="btn bg-gradient-primary w-100 my-4 mb-2" id = "btn-login">로그인</button>
                                </div>
                                <p class="mt-4 text-sm text-end">
                                    <a th:href="@{/find/account}" class="text-info text-gradient font-weight-bold opacity-5">아이디 찾기</a> |
                                    <a th:href="@{/find/password}" class="text-info text-gradient font-weight-bold opacity-5">비밀번호 찾기</a>
                                </p>
                                <div class="text-center">
                                    <p class="mt-4 text-sm text-center">
                                    <p class="text-dark font-weight-bolder">소셜 계정으로 로그인</p>
                                    </p>
                                </div>
                                <div class="row mt-2">
                                    <div class="col-6 text-end me-auto">
                                        <a class="btn btn-link px-3" th:href="@{/oauth2/authorization/google}">
                                            <img src="https://raw.githubusercontent.com/buinq/imageServer/main/img/clipart2580883.png"
                                                 alt="clipart2580883" style="zoom:9%;"/>
                                        </a>
                                    </div>
                                    <div class="col-6 text-start me-auto">
                                        <a class="btn btn-link px-3" th:href="@{/oauth2/authorization/naver}">
                                            <img src="https://raw.githubusercontent.com/buinq/imageServer/main/img/btnG_%EC%95%84%EC%9D%B4%EC%BD%98%EC%9B%90%ED%98%95.png"
                                                 alt="btnG_아이콘원형" style="zoom:15%;"/>
                                        </a>
                                    </div>
                                </div>
                                <p class="mt-4 text-sm text-center">
                                    계정이 없으십니까?
                                    <a th:href="@{/join}" class="text-primary text-gradient font-weight-bold">회원가입</a>
                                </p>

                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</main>
<!--   Core JS Files   -->
<script src="/assets/js/core/popper.min.js"></script>
<script src="/assets/js/core/bootstrap.min.js"></script>
<script src="/assets/js/plugins/perfect-scrollbar.min.js"></script>
<script src="/assets/js/plugins/smooth-scrollbar.min.js"></script>
<script src="/assets/js/material-dashboard.min.js?v=3.0.4"></script>

</body>
<Script>
    let academyId = 0;

    function check_academyExist() {

        let data = {
            name: document.querySelector('#input-academyName').value.trim()
        };
        console.log(data);
        axios.post("/academies/check",
            JSON.stringify(data), {
                headers: {
                    'Content-Type': 'application/json',
                }
            }
        ).then((response) => {
            console.log(response);
            if  (response.data["isExist"] == true) {
                show('academy-pass');
                hide('academy-fail');

                academyId = response.data["academyId"];
            }

        }).catch((error) => {
            console.log(error);
            hide('academy-pass');
            show('academy-fail');

        });
    }


    function show(id) {
        if (document.getElementById(id) != null) {
            document.getElementById(id).removeAttribute("hidden")
        }
    }

    function hide(id) {
        if (document.getElementById(id) != null) {
            document.getElementById(id).setAttribute("hidden", "true")
        }
    }

    let login = {
        init: function () {
            var _this = this;
        },



        loginEmployee: function () {
            let data = {
                account: document.querySelector('#input-employeeAccount').value.trim(),
                password: document.querySelector('#input-employeePassword').value.trim(),
            };
            console.log(data);

            axios.post("/api/v1/academies/" + academyId + "/employees/login",
                JSON.stringify(data), {
                    headers: {
                        'Content-Type': 'application/json',
                    }
                }
            ).then((response) => {
                alert("로그인에 성공하였습니다!");
                window.location.href = '/academy/main';

            }).catch((error) => {
                if (error.response.data.result["errorCode"] == "ACADEMY_NOT_FOUND") {
                    alert("등록된 학원이 아닙니다. 등록 후 진행해주세요");
                } else if(error.response.data.result["errorCode"] == "REQUEST_EMPLOYEE_NOT_FOUND"){
                    alert("가입되어있지 않은 회원입니다.");
                }else if(error.response.data.result["errorCode"] == "INVALID_PASSWORD"){
                    alert("비밀번호가 일치하지 않습니다.");
                }
                console.log(academyId);
                console.log(error);

            });

        }

    };

    login.init();

</script>
</html>