<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- header -->
<th:block th:replace="layout/header :: headerFragment"></th:block>


<body class="g-sidenav-show  bg-gray-100">

<!-- side bar -->
<th:block th:replace="layout/aside :: asideFragment"></th:block>


<main class="main-content border-radius-lg ">


    <!-- Navbar -->
    <th:block th:replace="layout/navbar :: navbarFragment"></th:block>


    <body class="">
    <div class="container position-sticky z-index-sticky top-0">
        <div class="row">
            <div class="col-12">

            </div>
        </div>
    </div>
    <main class="main-content  mt-0">

        <div class="container-fluid py-4">
            <div class="row">
                <div class="col-md-2">
                </div>
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-header pb-0">
                            <div class="d-flex align-items-center">
                                <h3 class="mb-0" style="color: #5A2082">마이페이지</h3>
                            </div>
                            <p class="mb-0 opacity-7" style="font-size: small;font-weight: bold;">이름과 이메일은 수정할 수
                                없습니다.</p>
                            <div>
                                <hr style="color: #5A2082; height: 1.5px;background-color: #5A2082">
                            </div>
                        </div>
                        <div class="card-body">
                            <br>
                            <br>
                            <input type="text" class="form-control" id="employeeId"
                                   placeholder="강좌 이름" th:value="${employeeId}" hidden>
                            <input type="text" class="form-control" id="academyId"
                                   placeholder="강좌 이름" th:value="${academyId}" hidden>
                            <div class="row">
                                <div class="col-3">
                                </div>
                                <div class="col-6">
                                    <div class="d-flex justify-content-center mb-3">
                                        <div class="col-4 col-lg-4 order-lg-2">
                                            <div class="mt-n4 mt-lg-n6 mb-4 mb-lg-0">
                                                <a href="javascript:;">
                                                    <th:block th:if="${imageUrl =='null'}">
                                                    <img src="../assets/img/team-2.jpg"
                                                         class="rounded-circle img-fluid border border-2 border-white">
                                                    </th:block>
                                                    <th:block th:if="${imageUrl != 'null'}">
                                                        <img th:src="${imageUrl}"
                                                             class="rounded-circle img-fluid border border-2 border-white">
                                                    </th:block>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-3">
                                </div>
                            </div>

                            <div class="col-md-2">
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                </div>
                                <div class="col-md-8 mx-auto justify-content-center text-center">
                                    <button class="btn btn-info" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapseExample" aria-expanded="false"
                                            aria-controls="collapseExample">
                                        프로필 사진 변경
                                    </button>
                                    <div class="collapse" id="collapseExample">
                                        <div class="text-center">
                                            <div class="filebox">
                                                <div class="row">
                                                    <div class="col">
                                                        <input type="text" class="form-control mt-1" value="첨부파일"
                                                               placeholder="첨부파일"
                                                               aria-label="Username" aria-describedby="basic-addon1"
                                                               id="input-fileName" readonly>
                                                    </div>
                                                    <div class="col justify-content-start">
                                                        <div class="mt-2">
                                                            <label for="input-file"
                                                                   style="margin-top: auto">파일찾기</label>
                                                        </div>
                                                    </div>
                                                    <input type="file" id="input-file">
                                                </div>
                                            </div>
                                            <button type="button" class="btn btn-primary btn-sm"
                                                    th:onclick="|mypage.fileUpload()|"
                                            >이미지 업로드
                                            </button>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-2">
                                </div>
                            </div>
                            <br>
                            <div class="row">

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <span class="badge badge-pill badge-lg bg-gradient-primary">계정명</span>
                                    </div>
                                    <div class="input-group input-group-dynamic mb-4">
                                        <input type="text" class="form-control" th:value="${employee.account}"
                                               aria-label="Username" aria-describedby="basic-addon1"
                                               id="input-employeeAccount" readonly>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <span class="badge badge-pill badge-lg bg-gradient-primary">이름</span>
                                    </div>
                                    <div class="input-group input-group-dynamic mb-4">
                                        <input type="text" class="form-control" th:value="${employee.name}"
                                               aria-label="Username" aria-describedby="basic-addon1"
                                               id="input-employeeName" readonly>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <span class="badge badge-pill badge-lg bg-gradient-primary">이메일</span>
                                    </div>
                                    <div class="input-group input-group-dynamic mb-4">
                                        <input type="text" class="form-control" th:value="${employee.email}"
                                               aria-label="Username" aria-describedby="basic-addon1"
                                               id="input-employeeEmail" readonly>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <span class="badge badge-pill badge-lg bg-gradient-primary">주소</span>
                                    </div>
                                    <div class="input-group input-group-dynamic mb-4">
                                        <input type="text" class="form-control" th:value="${employee.address}"
                                               aria-label="Username" aria-describedby="basic-addon1"
                                               id="input-employeeAddress">
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <span class="badge badge-pill badge-lg bg-gradient-primary">전화번호</span>
                                    </div>
                                    <div class="input-group input-group-dynamic mb-4">
                                        <input type="text" class="form-control" th:value="${employee.phoneNum}"
                                               aria-label="Username" aria-describedby="basic-addon1"
                                               id="input-employeePhoneNum">
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <th:block th:if="${employee.subject !='직원'}">
                                        <div class="form-group">
                                            <span class="badge badge-pill badge-lg bg-gradient-primary">과목</span>
                                        </div>
                                        <div class="input-group input-group-dynamic mb-4">
                                            <input type="text" class="form-control" th:value="${employee.subject}"
                                                   aria-label="Username" aria-describedby="basic-addon1"
                                                   id="input-employeeSubject">
                                        </div>
                                    </th:block>
                                    <th:block th:if="${employee.subject =='직원'}">
                                        <input type="text" class="form-control" th:value="${employee.subject}"
                                               aria-label="Username" aria-describedby="basic-addon1"
                                               id="input-employeeSubject" hidden>
                                    </th:block>
                                </div>
                                <div class="col-md-2">

                                    <div class="text-center">
                                        <button th:onclick="|mypage.updateEmployee(${employee.academy.id})|"
                                                type="button"
                                                class="btn btn-sm bg-gradient-info w-100 mt-4 mb-0">정보 수정
                                        </button>
                                    </div>
                                </div>
                                <div class="col-md-2">

                                    <div class="text-center">
                                        <button type="button"
                                                data-bs-toggle="modal" data-bs-target="#exampleModal"
                                                class="btn btn-sm bg-gradient-danger  w-100 mt-4 mb-0">비밀번호 변경
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <th:block th:if="${employee.subject !='직원'}">

                                <div>
                                    <hr style="color: #5A2082; height: 1.5px;background-color: #5A2082">
                                </div>
                                <br>
                                <div class="d-flex align-items-center">
                                    <h3 class="mb-0" style="color: #5A2082">강의 목록</h3>
                                </div>
                                <p class="mb-0 opacity-7" style="font-size: small;font-weight: bold;">맡은 강의 목록입니다.</p>
                                <div>
                                    <hr style="color: #5A2082; height: 1.5px;background-color: #5A2082">
                                </div>
                                <div class="table-responsive">
                                    <table class="table align-items-center mb-0">
                                        <thead>
                                        <tr>
                                            <th class="text-center text-uppercase  font-weight-bolder"
                                                style="color: #5A2082;font-size: small">
                                                강의 이름
                                            </th>
                                            <th class="text-center text-uppercase  font-weight-bolder"
                                                style="color: #5A2082;font-size: small">
                                                강의 시간
                                            </th>
                                            <th class="text-center text-uppercase  font-weight-bolder "
                                                style="color: #5A2082;font-size: small">
                                                강의 시작일
                                            </th>
                                            <th class="text-center text-uppercase  font-weight-bolder "
                                                style="color: #5A2082;font-size: small">
                                                강의 종료일
                                            </th>
                                            <th class="text-center text-uppercase  font-weight-bolder "
                                                style="color: #5A2082;font-size: small">
                                                수강 인원
                                            </th>

                                            <th class="text-secondary opacity-7"></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <div>

                                            <tr th:each="lecture : ${lectures}">

                                                <th class="align-middle text-center">
                                                <span class=" text font-weight-bold" style="font-size: small"
                                                      th:text="${lecture.lectureName}"></span>
                                                </th>

                                                <th class="align-middle text-center">
                                                <span class=" text font-weight-bold" style="font-size: small"
                                                      th:text="${lecture.lectureDay} +' // ' + ${lecture.lectureTime}"></span>
                                                </th>
                                                <th class="align-middle text-center">
                                                <span class=" text font-weight-bold" style="font-size: small"
                                                      th:text="${lecture.startDate}"></span>
                                                </th>
                                                <th class="align-middle text-center">
                                                <span class=" text font-weight-bold" style="font-size: small"
                                                      th:text="${lecture.finishDate}"></span>
                                                </th>
                                                <th class="align-middle text-center">
                                                <span class=" text font-weight-bold" style="font-size: small"
                                                      th:text="${lecture.currentEnrollmentNumber}"></span>
                                                </th>
                                            </tr>
                                        </div>
                                        </tbody>
                                    </table>
                                </div>
                            </th:block>
                        </div>
                    </div>
                </div>

                <div class="col-md-2">

                </div>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">비밀번호 변경</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="input-group input-group-outline mb-3">
                            <label class="form-label">현재 비밀번호</label>
                            <input type="password" class="form-control" id="input-employeePassword"
                                   name="employeePassword">
                        </div>
                        <div class="input-group input-group-outline mb-3">
                            <label class="form-label">비밀번호</label>
                            <input type="password" class="form-control" id="input-employeeNewPassword"
                                   name="employeePassword">
                        </div>
                    </div>
                    <div class="modal-footer mx-auto">
                        <button type="button" class="btn btn-secondary"
                                data-bs-dismiss="modal">닫기
                        </button>
                        <button type="button" class="btn btn-primary"
                                th:onclick="|payment.delete()|"
                        >비밀번호 변경
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!--footer-->
        <th:block th:replace="layout/footer :: footerFragment"></th:block>
    </main>
    <!--   Core JS Files   -->
    <script src="/assets/js/core/popper.min.js"></script>
    <script src="/assets/js/core/bootstrap.min.js"></script>
    <script src="/assets/js/plugins/perfect-scrollbar.min.js"></script>
    <script src="/assets/js/plugins/smooth-scrollbar.min.js"></script>
    <script src="/assets/js/material-dashboard.min.js?v=3.0.4"></script>
    <Script>
        $("#input-file").on('change', function () {
            var fileName = $("#input-file").val();
            $("#input-fileName").val(fileName);
        });

        let employeeId = document.getElementById('employeeId').value;
        let academyId = document.getElementById('academyId').value;
        console.log('academyId' + academyId);
        console.log('employeeId' + employeeId);
        //fileDropzone dropzone 설정할 태그의 id로 지정

        let mypage = {
            init: function () {
                var _this = this;
            },

            updateEmployee: function (academyId) {
                let data = {
                    address: document.querySelector("#input-employeeAddress").value.trim(),
                    phoneNum: document.querySelector('#input-employeePhoneNum').value.trim(),
                    subject: document.querySelector('#input-employeeSubject').value.trim()
                };
                console.log(data);

                axios.put("/api/v1/academies/" + academyId,
                    JSON.stringify(data), {
                        headers: {
                            'Content-Type': 'application/json',
                        }
                    }
                ).then((response) => {
                    console.log(response);
                    alert("회원 정보 수정 성공");
                    window.location.reload();
                }).catch((error) => {
                    console.log(error);
                    if (error.response.data.result["errorCode"] == "DUPLICATED_ACADEMY") {
                        alert("학원 이름은 중복될 수 없습니다.");
                    }
                });

            },

            fileUpload: function () {
                let data = {
                    multipartFile: document.querySelector("#input-file").value.trim(),
                };

                console.log(data);
                var frm = new FormData();
                var image = document.getElementById("input-file");
                frm.append("multipartFile", image.files[0]);


                axios.post("/api/v1/academies/" + academyId + "/employees/" + employeeId + "/files/upload",
                    frm, {
                        headers: {
                            'Content-Type': 'multipart/form-data'
                        }
                    }).then((response) => {
                    console.log(response);
                    alert("이미지 업로드 성공");
                    window.location.reload();
                }).catch((error) => {
                    console.log(error);

                });

            }


        };

        mypage.init();

    </script>

    <script>


        Dropzone.options.fileDropzone = {
            url: '/api/v1/academies/' + academyId + '/employees/' + employeeId + '/files/upload', //업로드할 url (ex)컨트롤러)
            init: function () {
                /* 최초 dropzone 설정시 init을 통해 호출 */
                var submitButton = document.querySelector("#btn-upload-file");

                var myDropzone = this; //closure
                submitButton.addEventListener("click", function () {
                    console.log("업로드"); //tell Dropzone to process all queued files

                    myDropzone.processQueue();
                });
            },
            autoProcessQueue: false, // 자동업로드 여부 (true일 경우, 바로 업로드 되어지며, false일 경우, 서버에는 올라가지 않은 상태임 processQueue() 호출시 올라간다.)
            clickable: true, // 클릭가능여부
            thumbnailHeight: 90, // Upload icon size
            thumbnailWidth: 90, // Upload icon size
            maxFiles: 1, // 업로드 파일수
            maxFilesize: 10, // 최대업로드용량 : 10MB
            parallelUploads: 1, // 동시파일업로드 수(이걸 지정한 수 만큼 여러파일을 한번에 컨트롤러에 넘긴다.)
            addRemoveLinks: true, // 삭제버튼 표시 여부
            dictRemoveFile: '삭제', // 삭제버튼 표시 텍스트
            uploadMultiple: false, // 다중업로드 기능
        };
    </script>
    </body>
</main>
</body>
</html>