<!--
=========================================================
* Material Dashboard 2 - v3.0.4
=========================================================

* Product Page: https://www.creative-tim.com/product/material-dashboard
* Copyright 2022 Creative Tim (https://www.creative-tim.com)
* Licensed under MIT (https://www.creative-tim.com/license)
* Coded by Creative Tim

=========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-->


<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- header -->
<th:block th:replace="layout/header :: headerFragment"></th:block>


<body class="g-sidenav-show  bg-gray-100">

<!-- side bar -->
<th:block th:replace="layout/aside :: asideFragment"></th:block>


<main class="main-content border-radius-lg ">


    <!-- Navbar -->
    <th:block th:replace="layout/navbar :: navbarFragment"></th:block>


    <div class="container">
        <div class="row">
            <div class="col-12">

                <div class="card my-4">
                    <div class="card-header pb-0">
                        <div class="row">
                            <div class="col-lg-9 col-7">
                                <h3 style="font-family: 'Jua', sans-serif; font-size: 3.5rem; font-weight: lighter;color: #5A2082">강사 정보</h3>
                                <p class="mb-0" style="font-weight: bold;color: #5A2060">강좌 등록 전에 강좌를 맡을 강사를 먼저 선택해주세요.</p>

                            </div>
                        </div>
                    </div>
                    <div>
                        <hr style="color: #5A2082; height: 1.5px;background-color: #5A2082">
                    </div>

                    <div class="card-body px-0 pb-2">
                        <div class="table-responsive">
                        <table class="table align-items-center mb-0">
                                <thead>
                                <tr>
                                    <th class="text-center text-uppercase  font-weight-bolder" style="color: #5A2082;">
                                        강사 사진
                                    </th>
                                    <th class="text-center text-uppercase  font-weight-bolder"  style="color: #5A2082;">
                                        강사 이름
                                    </th>
                                    <th class="text-center text-uppercase  font-weight-bolder " style="color: #5A2082;">
                                        담당 과목
                                    </th>
                                    <th class="text-center text-uppercase  font-weight-bolder " style="color: #5A2082;">
                                        전화번호
                                    </th>

                                    <th class="text-secondary opacity-7"></th>
                                </tr>
                                </thead>
                                <tbody>
                                <div>
                                    <tr th:each="teacher : ${teachers}">
                                        <form action="/academy/lecture/register" method="get">
                                            <th class="align-middle text-center">
                                                <div class="flex">
                                                    <th:block th:if="${teacher.imageUrl =='null'}">
                                                        <img src="https://raw.githubusercontent.com/buinq/imageServer/main/img/image-20230204013043779.png"
                                                             class="avatar avatar-xl me-3 border-radius-lg">
                                                    </th:block>
                                                    <th:block th:if="${teacher.imageUrl != 'null'}">
                                                        <img th:src="${teacher.imageUrl}"
                                                             class="avatar avatar-xl me-3 border-radius-lg">
                                                    </th:block>
                                                </div>
                                            </th>

                                            <th class="align-middle text-center">
                                                <span class=" text font-weight-bold"
                                                      th:text="${teacher.name}"></span>
                                            </th>
                                            <th class="align-middle text-center">
                                                <span class=" text font-weight-bold"
                                                      th:text="${teacher.subject}"></span>
                                            </th>
                                            <th class="align-middle text-center">
                                                <span class=" text font-weight-bold"
                                                      th:text="${teacher.phoneNum}"></span>
                                            </th>
                                            <input type="text" class="form-control" name="teacherId"
                                                   placeholder="강좌 이름" th:value="${teacher.id}" hidden>
                                            <th class="align-middle text-center">

                                                <button class="btn btn-icon btn-2 btn-primary mt-3" type="submit">
                                                    <span class="btn-inner--icon"> <i
                                                            class="material-icons">done</i></span>
                                                </button>

                                            </th>
                                        </form>
                                    </tr>
                                </div>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
    <!--footer-->
    <th:block th:replace="layout/footer :: footerFragment"></th:block>
</main>
<!--   Core JS Files   -->
<script src="/assets/js/core/popper.min.js"></script>
<script src="/assets/js/core/bootstrap.min.js"></script>
<script src="/assets/js/plugins/perfect-scrollbar.min.js"></script>
<script src="/assets/js/plugins/smooth-scrollbar.min.js"></script>
<script src="/assets/js/material-dashboard.min.js?v=3.0.4"></script>
<link id="pagestyle" href="/assets/css/material-dashboard.css?v=3.0.4" rel="stylesheet"/>


</body>

</html>