<!--
=========================================================
* Material Dashboard 2 - v3.0.4
=========================================================

* Product Page: https://www.creative-tim.com/product/material-dashboard
* Copyright 2022 Creative Tim (https://www.creative-tim.com)
* Licensed under MIT (https://www.creative-tim.com/license)
* Coded by Creative Tim

=========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-->


<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- header -->
<th:block th:replace="layout/header :: headerFragment"></th:block>


<body class="g-sidenav-show  bg-gray-100">

<!-- side bar -->
<th:block th:replace="layout/aside :: asideFragment"></th:block>


<main class="main-content border-radius-lg ">


    <!-- Navbar -->
    <th:block th:replace="layout/navbar :: navbarFragment"></th:block>


    <div class="container-fluid py-4">
        <div class="row">
            <div class="col-xl-8 col-lg-5 col-md-7 d-flex flex-column ms-auto me-auto ms-lg-auto me-lg-5">
                <div class="row">
                    <div class="card my-4">
                        <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                            <div class="row">
                                <div class="col-8 align-self-center">

                                    <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                                        <h6 class="text-white text-capitalize ps-3">등록된 강사 정보</h6>
                                    </div>
                                </div>
                                <div class="col-4  align-self-center">
                                    <div class="row">
                                        <div class="col-9 align-self-center">
                                            <div class="input-group input-group-outline  ">

                                                <input type="text" class="form-control" name="studentName"
                                                       placeholder="강좌 이름">
                                            </div>
                                        </div>
                                        <div class="col-3  align-self-center">

                                            <button type="submit"
                                                    class="btn btn-sm bg-gradient-primary btn-lg w-100 mb-0">검색
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body px-0 pb-2">
                            <div class="table-responsive p-0">
                                <table class="table align-items-center mb-0">
                                    <thead>
                                    <tr>
                                        <th class="text-center text-uppercase  font-weight-bolder">
                                            강사 사진
                                        </th>
                                        <th class="text-center text-uppercase  font-weight-bolder">
                                            강사 이름
                                        </th>
                                        <th class="text-center text-uppercase  font-weight-bolder ">
                                            담당 과목
                                        </th>

                                        <th class="text-secondary opacity-7"></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="academy : ${academies}">
                                        <th class="align-middle text-center">
                                            <div class="flex">
                                                <img src="https://raw.githubusercontent.com/buinq/imageServer/main/img/image-20230204013043779.png"
                                                     class="avatar avatar-xl me-3 border-radius-lg" alt="user1">
                                            </div>
                                        </th>

                                        <th class="align-middle text-center">
                                                <span class=" text-xs font-weight-bold" style="margin-top: 0.65rem;"
                                                      th:text="${academy.name}"></span>
                                        </th>

                                        <th class="align-middle text-center">
                                                <span class=" text-xs font-weight-bold"
                                                      th:text="${academy.name}"></span>
                                        </th>

                                        <td class="align-middle">

                                            <a href="javascript:;"
                                               th:onclick="|academy.delete(${academy.academyId})|" type="button"
                                               class="text-secondary font-weight-bold text-xs"
                                               data-toggle="tooltip"
                                               data-original-title="delete-academy">
                                                삭제
                                            </a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>


                </div>
            </div>

            <div class="col-xl-3 col-lg-5 col-md-7 d-flex flex-column ms-auto me-auto ms-lg-auto me-lg-5">
                <div class="card card-plain">
                    <h4 class="font-weight-bolder">강사 등록</h4>
                    <p class="mb-0">등록할 강사 정보를 입력해주세요.</p>
                </div>

                <div class="card-body">
                    <div class="input-group input-group-outline mb-3">
                        <label class="form-label">강사 이름</label>
                        <input type="text" class="form-control" id="input-teacherName">
                    </div>
                    <div class="input-group input-group-outline mb-3">
                        <label class="form-label">과목</label>
                        <input type="text" class="form-control" id="input-teacherSubject">
                    </div>
                    <hr class="dark horizontal my-0">
                    <div class="mb-3">
                        <label for="formFileSm" class="form-label">강사 사진</label>
                        <input class="form-control form-control-sm" id="formFileSm" type="file">
                    </div>
                    <hr class="dark horizontal my-0">
                    <div class="text-center">
                        <button th:onclick="|academy.create()|" type="button"
                                class="btn btn-lg bg-gradient-primary btn-lg w-100 mt-4 mb-0">강사 등록
                        </button>
                    </div>
                </div>

            </div>
        </div>

    </div>
    <!--footer-->
    <th:block th:replace="layout/footer :: footerFragment"></th:block>
</main>
<!--   Core JS Files   -->
<script src="/assets/js/core/popper.min.js"></script>
<script src="/assets/js/core/bootstrap.min.js"></script>
<script src="/assets/js/plugins/perfect-scrollbar.min.js"></script>
<script src="/assets/js/plugins/smooth-scrollbar.min.js"></script>
<script src="/assets/js/material-dashboard.min.js?v=3.0.4"></script>


<Script>

    let academy = {
        init: function () {
            var _this = this;
        },
        create: function () {
            let data = {
                name: document.querySelector('#input-academyName').value.trim(),
                address: document.querySelector("#address_kakao").value.trim() + "  " + document.querySelector("#address_detail_kakao").value.trim(),
                phoneNum: document.querySelector('#input-academyphoneNum').value.trim(),
                owner: document.querySelector('#input-academyOwner').value.trim(),
                businessRegistrationNumber: document.querySelector('#input-academybusinessNum').value.trim()
            };
            console.log(data);

            axios.post("/api/v1/academies",
                JSON.stringify(data), {
                    headers: {
                        'Content-Type': 'application/json',
                    }
                }
            ).then((response) => {
                console.log(response);
                alert("학원등록 성공");
                window.location.href = '/academies';

            }).catch((error) => {
                console.log(error);
                if (error.response.data.result["errorCode"] == "DUPLICATED_ACADEMY") {
                    alert("학원 이름은 중복될 수 없습니다.");
                    window.location.href = '/academies';
                }


            });

        },

        delete: function (academyId) {

            const con_check = confirm("삭제하시겠습니까?(나중에는 학원 사업자 등록 번호 입력해야 삭제할 수 있게끔 구현)");

            if (con_check === true) {
                axios.delete("/api/v1/academies/" + academyId + "/delete",
                    {
                        headers: {
                            'Content-Type': 'application/json',
                        }
                    }
                ).then((response) => {
                    alert("학원삭제 성공");
                    window.location.href = '/academies';
                }).catch((error) => {
                });
            }
        }
    };

    academy.init();

</script>

</body>

</html>